.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-transform: capitalize;
}
.home .link {
  text-decoration: none;
  color: var(--font-c);
  background-color: var(--thrid-b);
  padding: 10px 15px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
}
