.far-data {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.far-data h1{
    color: rgb(56, 56, 56);
    background-color: rgba(240, 248, 255, 0.541);
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 8px;
}
.far-data .far-details {
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.far-data .far-details .farmer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
  background-color: rgba(226, 226, 226, 0.884);
  margin: 10px;
  border-radius:10px
}
.far-data .far-details .farmer .far-con {
    width: 95%;
    margin: 10px;
    background-color: rgba(202, 202, 202, 0.808);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding:5px
}
.far-data .far-details .farmer .far-con label{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    width:40%;
}
.far-data .far-details .farmer .far-con h4{
    margin-top: 5px;
    width: 60%;
    color: rgb(179, 0, 45);
    overflow-x: auto;
}
